@import "../../mainVariables.scss";

.filters-container {
  h4 {
    color: $primary-color-dark1;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  h5 {
    color: $primary-color-dark1;
  }
  button {
    color: $primary-color-dark2;
  }
  .active {
    color: $primary-color-light1;
    text-decoration: underline;
  }

  .filter-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      margin: 2px 0;
    }
  }

  .clear-filters {
    background-color: $primary-color-light1;
    color: $primary-color-dark1;
    padding: 8px 15px;
    border-radius: 999px;
    transition: 0.3s ease-in;
    margin: 10px 0;
    &:hover {
      color: $primary-color-light3;
    }
  }
}
