@import "../../mainVariables.scss";

.about-us {
  background-color: $primary-color-light3;
  width: 100%;

  .about-us-center {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    .about-image1 {
      width: 100%;
      grid-column: 1;
      grid-row: 1/7;
      border-radius: 15px;
    }

    .about-us-info {
      background-color: $primary-color-light2;
      width: 100%;
      height: 100%;
      grid-column: 2;
      grid-row: 2/8;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border-radius: 15px;

      p {
        max-width: 80%;
        margin-top: 25px;
      }
    }

    .about-image2 {
      width: 100%;
      grid-column: 3;
      grid-row: 3/9;
      border-radius: 15px;
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}
