@import "../../mainVariables.scss";

aside {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $primary-color-light2;
  top: -100%;
  opacity: 0;
  left: 0;
  transition: 0.5s ease-in-out;

  .close-icon {
    color: $primary-color-dark1;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 2.5rem;
  }

  .sidebar-links {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
      margin-top: 40px;
      color: $primary-color-dark1;
      font-size: 2rem;
    }

    .login {
      button {
        color: $primary-color-light3;
        background-color: $primary-color-light1;
        padding: 10px 35px;
        border-radius: 999px;
        cursor: pointer;
        transition: 0.5s ease-in;
        font-size: 2rem;
        margin-top: 20px;
      }
    }

    .cart {
      font-size: 3rem;
      margin-top: 40px;
      position: relative;
    }
    .cart-items-value {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $primary-color-light1;
      font-size: 1.25rem;
      width: 23px;
      height: 23px;
      transform: translateY(-35%) translateX(50%);
      border-radius: 100%;
      text-align: center;
    }
  }

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.sidebar-active {
  top: 0;
  opacity: 1;
}
