@import "../../mainVariables.scss";

.category-tiles {
  background-color: $primary-color-light2;

  .category-tiles-center {
    width: 80%;
    max-width: 1400px;
    padding: 75px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
  }
  .tile {
    position: relative;
    transition: 0.5s all;
    img {
      width: 100%;
    }
    h1 {
      position: absolute;
      bottom: 25%;
      left: 50%;
      transform: translateX(-50%);
      color: $primary-color-light3;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
  .tile1 {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .tile2 {
    grid-column: 4 / 7;
    grid-row: 1;
  }
  .tile3 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .tile4 {
    grid-column: 3 / 5;
    grid-row: 2;
  }
  .tile5 {
    grid-column: 5 / 7;
    grid-row: 2;
  }
}
