@import "../mainVariables.scss";

.single-product {
  width: 80%;
  max-width: 1400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;

  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      padding: 25px;
    }

    @media screen and (min-width: 900px) {
      width: 50%;
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    h3,
    h4,
    p {
      margin-top: 15px;
      color: $primary-color-dark1;
    }

    button {
      background-color: $primary-color-light1;
      color: $primary-color-dark1;
      margin: 15px 0;
      padding: 8px 15px;
      border-radius: 999px;
      transition: 0.3s ease-in;
      cursor: pointer;

      &:hover {
        color: $primary-color-light3;
      }
    }

    .amount-container {
      display: flex;
      align-items: center;

      .icon {
        font-size: 1.75rem;
        transform: translateY(7px);
        margin: 0 10px;
        color: $primary-color-light1;
        cursor: pointer;
        transition: 0.3s ease-in;
        &:hover {
          color: $primary-color-dark1;
        }
      }
    }
    @media screen and (min-width: 900px) {
      width: 50%;
    }
  }
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}
