@import "../../mainVariables.scss";

.footer {
  background: $primary-color-dark1;

  .footer-center {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;

    h4 {
      text-align: center;
      color: $primary-color-light3;
      padding: 20px 0;
    }
    li {
      display: flex;
      padding: 10px 0;
      color: $primary-color-light2;
    }

    .contact {
      span {
        color: $primary-color-light1;
        font-size: 1.35rem;
        padding-right: 15px;
      }
    }
    .socials {
      .social-icons {
        display: flex;
        justify-content: center;

        a {
          font-size: 1.35rem;
          padding: 0 10px;
          color: $primary-color-light1;
          transition: 0.5s all;

          &:hover {
            color: $primary-color-light3;
          }
        }
      }
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}
